/* Add CSS Styling */
.black {
    background-color: #000000;
    color: #ffffff;
}

.yellow {
    background-color: #ffff00;
    color:#000000

}

.black, 
.yellow {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;


}